#boby_weight{
    margin-left: 5%;
}


.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.gain {
    background-image: url(gain.png);
}

.keep {
    background-image: url(keep.png);
}

.loose {
    background-image: url(loose.png);
}

.drinkcard-cc {
    cursor: hand;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 200px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
