@import "bootstrap";
@import "bootstrap-sprockets";


#user_input{
  text-align: left;
  padding-top: 1em;
  padding-left: 1em;
  width: 95%;
}

.page{
  text-align: center;
}

#ingredient_selection{
  font-size: 1.5em;
}

.ingredient{
  padding-bottom: 1em;
}

.enter_btn{
  padding: 3em;
}