@import "bootstrap";
@import "bootstrap-sprockets";

#user_input{
  text-align: left;
  padding-top: 1em;
}

.select{
  font-size: large;
}

.page{
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 3em;
}

#add_ingredient_button{
  padding-top: 0;
  position: relative ;
  left: 85%;
  font-size: 2em;
  font-weight: bold;
}

@media all and (max-width: 667px) {
  .select{
    font-size: large;
    width: 60%;
  }
}