@import "bootstrap";
@import "bootstrap-sprockets";

#user_input{
  text-align: left;
  padding-top: 1em;
}

select{
  font-size: 1.3em;
  border-radius: 3px;
}

.page{
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 3em;
}

#add_ingredient_button{
  margin-top: 0.5em;
  padding-top: 0;
  position: relative ;
  left: 85%;
  font-size: 2em;
  font-weight: bold;
}

@media all and (max-width: 667px) {
  #target_presets{
    margin-top: 0.5em;
    font-size: 1.2em;
  }

  .select{
    width: 70%;
    font-size: 1em;
  }

  .quantity{
    width: 20%;
    font-size: 0.9em;
    margin-top: 0.3em;
    margin-left: 0.5em;
    border-radius: 2px;
  }
}